<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <article>
    <h1>Test Page in /subdir/</h1>
  </article>
  <aside>
    <summary>
      <details>
        <code>
          <p>#include &lt;stdio.h&gt;</p>

          <p>int main(){</p>
           
          <p>printf("Hello World");</p> 
          <p>return 0;</p>
          }
        </code>
      </details>
      
    </summary>
  </aside>
</body>
</html>